@tailwind base;
@tailwind components;
@tailwind utilities;

.shape-mask {
  width: 90%;
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
}
